@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
:root {
  font-size: 16px;
  --input-height: 45px;
  --border-color-thick: #ddd;
  --input-border: 1.5px solid var(--border-color-thick);
  --card-shadow: rgba(0, 17, 51, 0.07) 0px 3px 15px;
}
* {
  font-family: 'Nunito', sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
